@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-transform: uppercase;
    color: #75B79E;
    font-size: 3.5rem;
    text-align: center;
    margin: 40px 15px 47px 15px;
}

.jogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.carta {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #99CEA8;
    border-radius: 5px;

    margin: 17px;
}

.carta img {
    width: 100px;
}

.carta-frente {
    display: block;
}

.carta-tras {
    display: block;
}

.esconder {
    display: none;
}

@media (max-width:767px) {
    .jogo {
        flex-direction: column;
        align-items: center;
    }
}