@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-transform: uppercase;
    color: #75B79E;
    font-size: 3.5rem;
    text-align: center;
    margin: 40px 15px 47px 15px;
}

.jogo {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carta {
    width: 117px;
    height: 146px;
    margin: 17px;

    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all .4s;
}

.carta div {
    position: absolute;
    width: 117px;
    height: 146px;

    background-color: #A7E9AF;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #99CEA8;
    border-radius: 5px;
    
}

.carta div img{
    width: 100px;
    height: 100px;
}

.carta-frente {
    visibility: visible;
    transform: rotateY(180deg);
}

.carta-tras {
    visibility: visible;
}

.carta-tras {
    visibility: visible;
}

.esconder {
    visibility: hidden;
    transition: all .2s;
}

.carta-tras:hover {
    cursor: pointer;
}

.virar-carta {
    transform: rotateY(180deg);
}

@media (max-width:767px) {
    .jogo {
        flex-direction: column;
        align-items: center;
    }
}